.homepage .slider1{
    overflow: hidden;
}

.homepage .slider1 h1{
    font-family:"Helvetica Neue","Segoe UI Semibold",Arial,sans-serif;
    color:white;
    margin-bottom:15px;
    line-height: 1em;
}
.homepage .slider1 p{
    font-family:"Helvetica Neue","Segoe UI Light",Arial,sans-serif;
    color:white;
    margin: 0;
    line-height: 1.2em;
    font-size: 17pt;
}

.homepage .hand{
    float: right;
}

.homepage .hand img{
    height: 385px;
    width: auto;
}

.homepage .col-md-5{
    float: none;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 5px;
    overflow: visible;
}

.homepage .slider1 a{
    font-family:"Helvetica Neue","Segoe UI Semilight",Arial,sans-serif;
    font-size: 20px;
    line-height: 1;
    padding: 10px 20px;
}
.homepage .slider1 .btn.btn-warning {
    margin-top: 45px;
}
.homepage .slider1 .container{
    padding-top: 25px;
    padding-bottom:38px
}
.homepage .slider1 .col-md-7{
    padding-right: 25px;
}

.four-steps{
    height: 100px;
    background:#5e8ac7 ;
}

.header-menu .navbar-default .navbar-toggle .icon-bar{
    width: 22px;
}
.header-menu .navbar-default .navbar-toggle {
    margin-right: 0;
}

.four-steps-image{
    opacity: 0.3;
    display: inline;
    float: none;
    width: 100%;
    height: 100%;
}
.section .four-steps-container{
    height: inherit;
    padding: 0 15px 0 15px;
}
.bgr{
    height: 100%;
    width: 100%;
    background: url(../images/four-steps/pattern2.png) no-repeat;
    overflow: hidden;
}

.four-steps-row{
    display: flex;
    align-items: center;
    height:inherit;
    overflow: hidden
}

.four-steps-col p{
    font-size: 36px;
    color: white;
    font-family:"Helvetica Neue","Segoe UI Semibold",Arial,sans-serif;
    margin: 0;
    line-height: 1;
}

.four-steps-col a{
    font-family:"Helvetica Neue","Segoe UI Semilight",Arial,sans-serif;
    font-size: 20px;
    line-height: 1;
    padding: 10px 20px;
    float: inherit;
}
.four-steps-btn-col p{
    text-align: right;
}
.col-lg-4.four-steps-col.four-steps-btn-col{
    margin-left: 10px;
}
.col-md-6 h3{
    margin-top: 20px;
    font-family: "Helvetica Neue","Segoe UI Semibold",Arial,sans-serif;
}
.col-md-6 ul{
    margin-bottom: 0;
}
.col-md-6 .tizer{
    margin-bottom: 10px;
    font-family: "Helvetica Neue","Segoe UI Semilight",Arial,sans-serif;
}
.col-md-6 a{
    text-decoration: none;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
}
.col-md-6.col-sm-6.clearfix.margin-bottom-6x img{
    width: 100%;
}
.dashboard-section{
    overflow: hidden;
}

.pricing-section{
    background: #f6f3f3;
    overflow: hidden;
}
.pricing-tariff{
    background: #fff;
    height: 100%;
}
#pricing-img{
    margin-top: 20px ;
    margin-left: 45px ;
    margin-right: 50px ;
    display: inline-block;
    float:left;

}
.tariff-info.pricing-text{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    display: block;
    vertical-align: top;
    text-align: left;
    height: auto;
}
.pricing-text a{
    font-family: "Helvetica Neue","Segoe UI Light",Arial,sans-serif;
    margin-top: 60px;
}
.pricing-tariff h3{
    font-family: "Helvetica Neue","Segoe UI Semibold",Arial,sans-serif;
    font-size: 30px;
}
.pricing-tariff a{
    font-family: "Helvetica Neue","Segoe UI Light",Arial,sans-serif;
}
.tariff-info{
    font-family: "Helvetica Neue","Segoe UI Semilight",Arial,sans-serif;
    font-size: 16px;
}
.tariff-wrap .board-price>.pull-left:first-child{
    font-size: 60px;
}
.section-header-bold{
    font-family: "Helvetica Neue","Segoe UI Semibold",Arial,sans-serif;
    font-size: 48px;
}

.section .pricing-container{
    background: #f6f3f3;
    padding-top: 40px;
}

.subscribe-section{
    text-align: center;
    overflow: hidden;
}

.subscribe-section h2{
    margin-bottom: 50px;
}

.section .subscribe-container{
    padding-top: 55px;
    padding-bottom: 90px;
}

.subscribe-email-input{
    width: 456px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue","Segoe UI Light",Arial,sans-serif;
    font-size: 20px;
    padding: 5px 10px;
}
.subscribe-btn{
    width: 456px;
    font-size: 20px;
}
.footer .row{
    width: 100%;
}
.footer-font a{
    line-height: normal;
    font-family: "Helvetica Neue","Segoe UI Light",Arial,sans-serif;
    font-size:12px;
    text-decoration: none;
    cursor: pointer;
}
.footer-font .f-title{
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 14px;
}
.footer .container{
    padding-top: 30px;
    padding-bottom: 60px;
}
.smallfooter-font a{
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.features-container .carousel-inner .item h1 {
    font-size: 48px;
    line-height: 1.2em;
    font-family: "Segoe UI Semibold";
}

.features-container .carousel-inner .item p {
    font-size: 24px;
    line-height: 1.2em;
    font-family: "Segoe UI Light";
}

.features-container{
    min-height: 610px;
}

#mobile-store-wrap{
    width: 120px;
    position: absolute;
    margin: 0;
    height: auto;
    left: 310px;
    bottom: 145px;
}

.app-store-btn{
    width: 120px;
    height: 41px;
    background: url(../images/app-store.png) no-repeat;
    display: block;
    margin-top: 20px;
    background-size: cover;
}

.google-play-btn{
    width: 120px;
    height: 41px;
    background: url(../images/google-play.png) no-repeat;
    display: block;
    margin: 0px;
    background-size: cover;
}

@media (min-width:992px)/*768 -> 992*/{
    .navbar{border-radius:4px}
    .navbar-header{float:left}
    .navbar-collapse{width:auto;border-top:0;box-shadow:none}
    .navbar-collapse.collapse{
        display:block;
        height:auto;
        padding-bottom:0;
        overflow:visible
    }
    .navbar-collapse.in{overflow-y:visible}
    .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{padding-left:0;padding-right:0}
}
@media (min-width:992px)/*768 -> 992px*/{
    .navbar-toggle{display:none}
    .navbar-nav{float:left;margin:0}
    .navbar-nav>li{float:left}
    .navbar-nav>li>a{padding-top:15px;padding-bottom:15px}
}
@media (max-width:991px){/*992->991*/
    .header-menu .navbar-default .navbar-nav{float:none;}
    .header-menu .navbar-collapse.in{box-shadow:0 3px 8px #aaa}
    .header-menu .navbar-default .btn.btn-warning,.header-menu .navbar-default .navbar-nav>li>a{font-size:16px;padding:17px 15px}
    .header-menu .navbar-default .btn.btn-warning:hover,.header-menu .navbar-default .navbar-nav>li>a:hover{background:#5e8ac9;color:#fff}
    .header-menu .navbar-default .btn.btn-warning{text-align:left;margin:0;border-radius:0;background:0 0;color:#5e8ac9;box-shadow:none}
}
@media (max-width: 480px) {
    .homepage .slider1 .btn.btn-warning {
        float: left;
    }
    .homepage .slider1 p{
        font-size: 16px;
    }
    .homepage .slider1{
        height: 285px;
    }
    .homepage .slider1 h1{content: 'KPI DASHBOARDS';}
}

@media (min-width: 480px) {
    .homepage .slider1 h1:after{content: 'FOR BUSINESS';}
}
@media (max-width: 480px) {
    .homepage .slider1{
        height: 365px;
    }
    .homepage .slider1 .btn.btn-warning {
        float: none;
    }
}

@media(max-width: 768px){
    .bgr{
        background: url(../images/four-steps/pattern2-480.png) no-repeat;
        overflow: visible;
        background-size: 100% 100%;
    }
}

@media(max-width: 768px){
    .four-steps{
        height: 250px;
    }
}
@media(max-width: 768px){
    .four-steps-row{
        display: block;
    }
    .four-steps-col p{
        text-align: center;
    }
    .col-lg-4.four-steps-col.four-steps-btn-col{
        margin: 40px 0 0 0;
    }
    .four-steps-title-col{
        margin: 40px 0 0 0;
        padding: 0 10px;
    }
    .four-steps-title-col p{
        font-size: 30px;
    }
}
@media(max-width: 320px) {
    .four-steps-title-col{
        padding: 0 0;
    }
}
@media(max-width: 768px){
    .tariff-info.pricing-text, .tariff-info.pricing-text p{
        text-align: center;
    }
    #pricing-img {
        width: 96px;
    }
    #pricing-img{
        float: none;
    }
    .col-lg-4 .tariff-content.pricing-tariff a.btn.btn-warning{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .col-lg-8 .tariff-content.pricing-tariff a.btn.btn-warning{
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
@media(min-width: 768px) and (max-width: 992px) {
    #pricing-img {
        width: 60px;
    }

    #pricing-img {
        float: none;
    }

    .tariff-info.pricing-text p {
        text-align: center;
    }
    .col-lg-8 .tariff-content.pricing-tariff a.btn.btn-warning{
        margin-top: 12px;

    }
    .col-lg-4 .tariff-content.pricing-tariff a.btn.btn-warning{
        margin-top: 15px;
    }
}
@media(min-width: 320px){
    .col-lg-8 .tariff-content.pricing-tariff a.btn.btn-warning{
        margin-top: 12px;
        margin-bottom: 10px;
    }
}
@media(max-width: 768px) {
    .business-help{
        margin-top: 50px;
    }
}
@media(max-width: 480px){
    .subscribe-btn {
        width: 100%;
    }
    .subscribe-email-input{
        width: 100%;
    }
    .subscribe-section h2{
        font-size: 30px;
    }
}
@media(max-width: 768px){
    .footer-font .f-title{
        margin-bottom: 20px;
        margin-top: 0px;

    }
    .footer .container{
        padding:30px 5px 60px 20px;
    }
    .footer-font{
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 992px){
    .homepage .hand{
        float: left;
    }
}

@media(max-width: 992px) and (min-width: 768px) {
    .header-menu .navbar-default .container {
        padding-right: 0;
    }
}

@media (min-width: 768px){
    .features-container .carousel-indicators li, .carousel-indicators li.active{
        display: block;
        border: none;
        width: auto;
        height: auto;
        margin: 0 0 20px;
        text-align: right;
        text-indent: 0;
        font-size: 24px;
        color: #5e8ac7;
        font-family: "Segoe UI Semibold";
    }
    .features-container .carousel-indicators li.active:after{
        position: absolute;
        margin-left: 2px;
        font-family: 'Glyphicons Halflings';
        content: "\e080";
    }

    .features-container .carousel-indicators{
        position: static;
        margin: 0;
        float: left;
        display: inline-block;
        width: 290px;
        padding-right: 50px;
    }

    .features-container .carousel-inner .item {
        height: 470px;
    }

    .features-container .carousel-inner{
        float: left;
        width: calc(100% - 290px);
    }

    .carousel-inner .item img{
        text-align: center;
    }
}

@media (max-width: 768px){
    #mobile-store-wrap a{
        width: 100px;
        height: 35px;
    }
}

@media (max-width: 768px) {
    .features-container .carousel-indicators {
        top: 500px;
    }

    .features-container .carousel-indicators>li{
        height: 16px;
        width: 16px;
        background-color: #cfcfcf;
        border: none;
        margin: 8px;
    }

    .features-container .carousel-indicators .active{
        height: 16px;
        width: 16px;
        background-color: #5e8ac7;
    }
}

@media (max-width: 480px) {
    .features-container .carousel-indicators {
        width: 100%;
        margin-left: -50%;
    }
}

@media (max-width: 480px){

    .features-container .carousel-inner .item h1 {
        font-size: 30px;
    }

    .features-container .carousel-inner .item p {
        font-size: 16px;
    }
}

@media (max-width: 480px){
    #mobile-store-wrap{
        display: inline-block;
        position: static;
        left: auto;
        width: 100%;
        margin: 26px 0;
    }

    .app-store-btn{
        float: right;
        margin: 0 80px 0 0;
    }

    .google-play-btn{
        float: left;
        margin: 0 0 0 80px;
    }

    #mobile-feature {
        text-align: center;
    }
    .carousel-inner .item img{
        text-align: center;
    }
}

@media (max-width: 410px){
    .app-store-btn{
        margin: 0 40px 0 0;
    }

    .google-play-btn{
        margin: 0 0 0 40px;
    }
}

@media (max-width: 326px){
    .app-store-btn{
        margin: 0;
    }

    .google-play-btn{
        margin: 0;
    }
}