@media (min-width:992px)/*768 -> 992*/{
    .navbar{border-radius:4px}
    .navbar-header{float:left}
    .navbar-collapse{width:auto;border-top:0;box-shadow:none}
    .navbar-collapse.collapse{
        display:block!important;
        height:auto!important;
        padding-bottom:0;
        overflow:visible!important
    }
    .navbar-collapse.in{overflow-y:visible}
    .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{padding-left:0;padding-right:0}
}

@media (min-width:992px)/*768 -> 992px*/{
    .navbar-toggle{display:none}
    .navbar-nav{float:left;margin:0}
    .navbar-nav>li{float:left}
    .navbar-nav>li>a{padding-top:15px;padding-bottom:15px}
}

@media (max-width:991px){/*992->991*/
    .header-menu .navbar-default .navbar-nav{float:none!important;}.header-menu .navbar-collapse.in{box-shadow:0 3px 8px #aaa}.header-menu .navbar-default .btn.btn-warning,.header-menu .navbar-default .navbar-nav>li>a{font-size:16px;padding:17px 15px}.header-menu .navbar-default .btn.btn-warning:hover,.header-menu .navbar-default .navbar-nav>li>a:hover{background:#5e8ac9;color:#fff}.header-menu .navbar-default .btn.btn-warning{text-align:left;margin:0;border-radius:0;background:0 0;color:#5e8ac9;box-shadow:none}
}

.logo img{
    padding: 10px 0;
}

@font-face{
    font-family: 'Roboto';
    src:url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
    font-family: 'Roboto Light';
    src:url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face{
    font-family: 'Roboto Medium';
    src:url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face{
    font-family: 'Roboto Bold';
    src:url(../fonts/Roboto/Roboto-Bold.ttf);
}

.header-menu .navbar-default .navbar-nav>li>a{
    padding: 18px 20px;
    font-family: "Roboto Light";
    text-transform: capitalize;
    color: #424242;
}
.btn-warning{
    box-shadow: none;
}
.header-menu .navbar-default .navbar-nav>li>a.btn{
    padding: 10px 20px;
    margin:8px 0 8px 20px;
}

.header-menu .navbar-default .navbar-nav>li:nth-child(-n+2)>a:after{
    position: absolute;
    margin-left: 5px;
    margin-top: 2px;
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 18px;
    /*color: #30548e;*/
}

.header-menu .navbar-default .navbar-nav>li>a:focus{
    color: #30548e;
    background:none;
    text-decoration: underline;
}
.dropdown-menu:before {
    position: absolute;
    top: -11px;
    left: 19px;
    display: inline-block;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ccc;
    border-left: 11px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -10px;
    left: 20px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    content: '';
}
.navbar-nav>li>.dropdown-menu{
    left: 20px;
    margin-top: 12px;
    border-radius: 5px;
   }
.navbar-nav>li>.dropdown-menu>li>a{
    font-family: "Roboto Light";
    text-decoration: none;
    font-size: 14px;
    padding: 7px 12px;
}
.slider-section>[class*=slider] h1 {
    font-family: "Roboto Medium";
    text-transform: none;
    color: white;
    margin: 0;
}
.slider-section>[class*=slider] p{
    font-family: "Roboto Light";
    color: white;
}
.homepage .slider1{
    background: #3eb5f1;
}
#font-12{
    font-size: 12px;
    margin: 0;
}
.ship{
    position: absolute;
    bottom: -5px;
    right: -25px;
   }
.content-section{
    height: 314px;
}

#features-carousel .carousel-indicators {
    top: 314px;
}

#features-carousel .carousel-indicators>li{
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: none;
    margin: 8px;
}

#features-carousel .carousel-indicators .active{
    height: 16px;
    width: 16px;
    background-color: #30548e;
}

.section-header{
    font-family: "Roboto Medium";
    font-size: 48px;
    color: #6d6d6d;
}

.col-md-4.left-col{
    padding-left: 0;
    padding-right: 20px;
}

.col-md-4.center-col{
    padding-left: 10px;
    padding-right: 10px;
}

.col-md-4.rigth-col{
    padding-right: 0;
    padding-left: 20px;
}

.section .products-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.products-row{
    margin:0;
    margin-top: 50px;
    margin-bottom: 205px;
    width: 100%;
}

.perfico-business-col img{
    padding-top: 25px;
}

.products-row p{
    font-family: "Roboto Medium";
    font-size: 24px;
    color: #3eb5f1;
    margin-bottom: 0;
    margin-top: 20px;
}

.products-text-col h3{
    margin-top: 120px;
    font-family: "Roboto Medium";
    font-size: 36px;
    color: #3eb5f1;
}

.products-text-col p{
    font-family: "Roboto Light";
    font-size: 18px;
    color: #6e6d6d;
    margin-top: 20px;
    margin-bottom: 20px;
}

.products-text-col a{
    margin-top: 15px;
    margin-bottom: 70px;
}

.products-row-2 h3{
    margin-top: 70px;
}

.right-col{
    padding-right: 0;
    padding-left: 15px;
}

.left-col{
    padding-left: 0;
    padding-right: 15px;
}

.products-row-2 .products-text-col a{
    margin-bottom: 50px;
}

.section .helpful-articles-container{
    padding-top: 0px;
    padding-bottom: 100px;
}

.helpful-articles-container img{
    width: 100%;
}

.helpful-articles-container .row{
    margin: 20px 0;
    width: 100%;
}

.helpful-articles-container h3{
    padding:20px 0;
    font-family: "Roboto Medium";
    font-size: 36px;
    color: #3eb5f1;
}
.helpful-articles-container p{
    font-family: "Roboto Light";
    font-size: 18px;
    color: #6e6d6d;
    margin-bottom: 20px;
}
.helpful-ref{
    font-family: "Roboto Light";
    font-size: 18px;
    text-decoration: none;
    color: #3eb5f1;
}